.nav-btn {
  position: relative;
  transform: rotate(-55deg);
  transition: 0.25s ease-in-out;
  z-index: 2;
}
.nav-btn span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px;
  transition: 0.25s ease-in-out;
}
.nav-btn :is(.one, .three) { width: 10px; }
.nav-btn .one {
  margin-left: auto;
  transform-origin: left;
}
.nav-btn .three { transform-origin: right; }

/* open*/
.nav-btn.open { transform: rotate(-45deg); }
.nav-btn.open .one { transform: rotate(90deg) translateX(-3px); }
.nav-btn.open .three { transform: rotate(90deg) translateX(3px); }
